body,div,p,span{font-size:14px;font-family:Helvetica,Sans-serif,Arial;}

.block(@min-width) {
  display: block;
  position: relative;
  min-width: @min-width;
}

.header {
  .block(650px);

  margin-bottom: 15px;
  max-height: 35px;
}

.select-span {
  margin: 22px;
  float: right;
}

.clear {
  clear: both;
}

.page-wrap {
  .block(500px);

  margin: 15px;
  margin: 0 45px 15px 45px;
  padding: 20px;

  text-align: center;

  div {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #dff4f5;
  }
}

.footer {
  width: 99%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: right;
  margin-top: 15px;
}

.main-text {
  font-size: 24px;
  color: #4A7AC2;
  font-weight: bold;
  margin: 15px 15px 15px 85px;
  float: left;

  text-shadow: 6px 6px 5px rgba(88, 141, 255, 0.73);
}

.error {
  .block(90%);
  color: red;
  background-color: lightcoral;
}
